<ion-header>
  <ion-toolbar>
    <ion-title>
      List Books
    </ion-title>
    <ion-buttons slot="primary">
      <ion-button [routerLink]="['/book-add']">
        <ion-icon slot="icon-only" name="add-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  <ion-card class="ion-padding" *ngFor="let book of books" (click)="detail(book)">
    <p> {{book.title}} </p>
  </ion-card>

</ion-content>