<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button slot="start" defaultHref="/login"> </ion-back-button>
    </ion-buttons>
    <ion-title> Sign Up</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item>
    <ion-label position="floating">Name</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Email</ion-label>
    <ion-input type="email" placeholder="Enter email"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input type="password" placeholder="Enter password"></ion-input>
  </ion-item>
  <ion-button expand="block">SIGN UP</ion-button>
</ion-content>