<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button slot="start" defaultHref="/tabs/tab2"> </ion-back-button>
    </ion-buttons>
    <ion-title>Edit Book</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="stacked">Title</ion-label>
    <ion-input [(ngModel)]="book.title" value="" placeholder="Enter title"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Description</ion-label>
    <ion-textarea [(ngModel)]="book.description" placeholder="Enter description"></ion-textarea>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Images</ion-label>
    <ion-input [(ngModel)]="book.images" placeholder="Enter images"></ion-input>
  </ion-item>
  <ion-button expand="block" (click)="update()">SUBMIT</ion-button>
</ion-content>